*.pyc
*.pyo
*.dbg

# VC2003 and up project files
*.sln
*.suo
*.vcproj
*.user
.vscode/

# Eclipse + PyDev
.project
.pydevproject

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vagrant/

# other IDEs, MacOS, etc
.idea/
.DS_Store
vagrant_helpers/bootstrap-salt.ps1